baseURL: "https://fatemehne.github.io/"
title: Fatima's Portfolio
pagination:
  pagerSize: 5
theme:  PaperMod
# new cm to test
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true
# cm-test more lol
params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: ExampleSite
  description: "ExampleSite description"
  keywords: [Blog, Portfolio, PaperMod]
  author: Fatima Nezhadian
  # author: ["Me", "You"] # multiple authors
  images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "January 2, 2006"
  defaultTheme: dark # auto #  light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "<link / abs url>"
    favicon16x16: "<link / abs url>"
    favicon32x32: "<link / abs url>"
    apple_touch_icon: "<link / abs url>"
    safari_pinned_tab: "<link / abs url>"

  label:
    text: "Home"
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: Fatima's Portfoio
    subtitle: |
      Hi, I’m Fatima — an incident engineer passionate about incident response, threat intelligence, and building security programs that make sense for the business. I’ve handled incidents from credential-stuffing to data exposure and turn those lessons into stronger processes, better detections, and smarter decisions.

      I’ve spoken at BSides Saskatoon about the strategic side of CTI, published cybersecurity research, and explored everything from threat modelling to automation and DevSecOps. My goal: help teams stay secure, informed, and ready for whatever comes next.
    imageUrl: "images/IMG_8561.jpg"
    imageWidth: 160
    imageHeight: 160
    imageTitle: my image
    buttons:
      - name: Posts
        url: posts
      - name: Public Talks
        url: talks
      - name: Soft Skills
        url: intellectual
      - name: Hobbies
        url: hobby
        

  # home-info mode
  homeInfoParams:
    Title: "Hi there \U0001F44B"
    Content: Welcome to my blog

  socialIcons:
    - name: twitter
      url: "https://twitter.com/"
    - name: linkedin
      url: "https://www.linkedin.com/in/fatemene/"
    - name: github
      url: "https://github.com/fatemehNe"

  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/<path_to_repo>/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: categories
      name: Posts
      url: /posts/
      weight: 10
    - identifier: soft skills
      name: About me!
      url: /intellectual/
      weight: 20
   
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
